Repository Himenon/npm-run-script-chain: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["prettier --config .prettierrc --write src/*.{ts,tsx}", "tslint -p ./tsconfig.json -c ./tslint.json", "git add"],
    "package.json": ["sort-package-json", "git add"]
  },
  "ignore": ["yarn.lock", "node_modules/**/*"]
}

refactor(ssr): use ssr with webpack
  config/env.ts
  package.json
  public/index.html
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/plugins.ts
  scripts/webpack/webpack.config.ts
  scripts/webpack/webpackDevServer.config.ts
  src/App.tsx
  src/__tests__/calc.test.ts
  src/__tests__/circule.test.ts
  src/client.tsx
  src/components/Anchor.tsx
  src/components/Tree.tsx
  src/generator.tsx
  src/parser.ts
  src/server.tsx
  src/types.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(bootstrap): use bootstrap
  package.json
  src/App.tsx
  src/client.tsx
  src/components/Anchor.tsx
  src/components/Tree.tsx
  src/index.css
  src/index.scss
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

refactor(server): use cli
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(webpack-style): add only build style webpack settings
  .vscode/settings.json
  config/paths.ts
  package.json
  scripts/develop.ts
  scripts/style.ts
  src/App.tsx
  src/components/Button.tsx
  src/components/Tree.tsx
  src/components/index.tsx
  src/style.scss
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(webpack-style): update export classNames from lib
  package.json
  scripts/style.ts
  src/client.tsx
  src/components/Button.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(style): update style
  package.json
  scripts/style.ts
  src/App.tsx
  src/components/Button.tsx
  src/style.scss
  src/styles/_dashboard.scss
  src/styles/_functions.scss
  src/styles/_navbar.scss
  src/styles/_spacing.scss
  src/styles/_variables.scss
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(style): update styles
  src/App.tsx
  src/style.scss
  src/styles/_display.scss
  src/styles/_flex.scss
  src/styles/_reboot.scss
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(update): annotation
  public/index.html
  src/App.tsx
  src/components/Button.tsx
  src/components/Tree.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(image): update image
  images/example.png
  package.json
Due: sort-package-json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.3.0
  package.json
Due: sort-package-json

fix(webpack): build style
  package.json
  scripts/style.ts
  scripts/webpack/rules.ts
  scripts/webpack/webpack.config.ts
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

refactor(webpack): update generator-react-app
  config/env.ts
  config/jest/cssTransform.ts
  config/jest/fileTransform.ts
  jest.config.json
  package.json
  public/index.html
  scripts/develop.ts
  scripts/style.ts
  scripts/webpack/common.ts
  scripts/webpack/plugins.ts
  scripts/webpack/rules/AssetsLoader.ts
  scripts/webpack/rules/BabelLoader.ts
  scripts/webpack/rules/CacheLoader.ts
  scripts/webpack/rules/FileLoader.ts
  scripts/webpack/rules/HtmlLoader.ts
  scripts/webpack/rules/SourceMapLoader.ts
  scripts/webpack/rules/StyleLoader.ts
  scripts/webpack/rules/TsLoader.ts
  scripts/webpack/rules/UrlLoader.ts
  scripts/webpack/rules/index.ts
  scripts/webpack/webpack.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

fix(webpack): add ts-loader
  package.json
  scripts/webpack/plugins.ts
  scripts/webpack/webpack.config.ts
  src/client.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

fix(webpack): fix build bugs
  package.json
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/common.ts
  scripts/webpack/rules/AssetsLoader.ts
  src/client.tsx
  src/generateSsrHtml.tsx
  src/generator.tsx
  src/style.scss
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

fix(babel-loader): ignore .ts,.tsx
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/rules/AssetsLoader.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

fix(path): fix cli path and ssr
  .gitignore
  package.json
  public/index.html
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/webpack.config.ts
  src/cli.ts
  src/client.tsx
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

v0.4.0
  package.json
Due: sort-package-json

fix(order): import order
  src/cli.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

chore(package): update dependency versions
  package.json
  yarn.lock
Due: sort-package-json

feat(d3): update d3 logic
  src/App.tsx
  src/client.tsx
  src/components/Dendrogram.tsx
  src/components/TreeLink.tsx
  src/components/TreeNode.tsx
  src/style.scss
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(d3): update d3 logic
  src/App.tsx
  src/components/Dendrogram.tsx
  src/components/Tree.tsx
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/TreeLink.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/TreeNode.tsx
  src/style.scss
  src/types.ts
  tsconfig.json
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(react-hooks): add react hooks
  .eslintrc.json
  package.json
  src/client.tsx
  src/components/Dendrogram.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/components/TreeNode/index.ts
  src/generateSsrHtml.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(react-hooks): refactoring
  src/App.tsx
  src/client.tsx
  src/components/Dendrogram.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/components/TreeNode/TreeNode.tsx
  src/generateSsrHtml.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(react-hooks): refactoring
  src/components/Dendrogram.tsx
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/Store.tsx
  src/components/TreeLink/TreeLink.tsx
  src/components/TreeLink/index.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(component): remove Button, Tree
  src/App.tsx
  src/components/Button.tsx
  src/components/Menu/Container.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/Store.ts
  src/components/Menu/index.tsx
  src/components/Tree.tsx
  src/components/index.tsx
  src/utils/index.tsx
  tsconfig.json
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(component): add alias
  config/paths.ts
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/common.ts
  src/App.tsx
  src/components/App/App.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/App/index.tsx
  src/components/Menu/Store.ts
  src/components/index.tsx
  src/domain/App/State.ts
  src/domain/App/Store.ts
  src/domain/App/index.ts
  src/domain/index.ts
  src/generator.tsx
  src/utils.ts
  tsconfig.json
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(component): refactoring
  src/App.tsx
  src/client.tsx
  src/components/App/App.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/Dendrogram.tsx
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Store.ts
  src/components/Dendrogram/index.tsx
  src/components/Menu/Container.tsx
  src/components/Menu/Store.ts
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Store.ts
  src/components/index.tsx
  src/domain/App/State.ts
  src/domain/App/Store.ts
  src/domain/App/index.ts
  src/domain/index.ts
  src/types.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(mobx): remove mobx
  src/App.tsx
  src/components/App/Container.tsx
  src/components/Dendrogram/Container.tsx
  src/components/Menu/Container.tsx
  src/components/TreeLink/Container.tsx
  src/components/TreeNode/Container.tsx
  src/domain/App/State.ts
  src/domain/App/Store.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(hooks): add useState
  src/App.tsx
  src/Main.tsx
  src/client.tsx
  src/components/App/App.tsx
  src/components/App/Container.tsx
  src/components/Menu/Container.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/Store.ts
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/domain/App/Store.ts
  src/domain/index.ts
  src/generateSsrHtml.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(hooks): all container look at domainState
  src/components/App/Container.tsx
  src/components/Menu/Container.tsx
  src/components/Menu/Store.ts
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/domain/App/Reducer.ts
  src/domain/App/State.ts
  src/domain/App/Store.ts
  src/types.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(hooks): use single reducer
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Store.ts
  src/components/Menu/Container.tsx
  src/components/Menu/Store.ts
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/domain/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(domain-store): separate domainStore and viewStore
  src/client.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Store.ts
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/domain/App/Store.ts
  src/domain/index.ts
  src/generateSsrHtml.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(domain-store): separate domainStore and viewStore
  src/Main.tsx
  src/client.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/App/index.tsx
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Store.ts
  src/components/Menu/Container.tsx
  src/components/Menu/Store.ts
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Container.tsx
  src/domain/App/Reducer.ts
  src/generateSsrHtml.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(package): remove mobx
  package.json
  yarn.lock
Due: sort-package-json

test(dependency-cruise): add settings
  package.json
Due: sort-package-json

v0.5.0
  package.json
Due: sort-package-json

refactor(code): update files
  scripts/webpack/common.ts
  src/domain/App/Action.ts
  src/domain/App/Factory.ts
  src/domain/App/Reducer.ts
  src/domain/App/Store.ts
  src/domain/App/index.ts
  src/domain/index.ts
  src/index.tsx
  src/types/index.ts
  tsconfig.json
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(domain): seperate domain
  .vscode/cSpell.json
  scripts/webpack/SsrPlugin.ts
  src/client.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/Menu/Store.ts
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Store.ts
  src/domain/App/Factory.ts
  src/domain/App/State.ts
  src/domain/Dendrogram/Action.ts
  src/domain/Dendrogram/Factory.ts
  src/domain/Dendrogram/Reducer.ts
  src/domain/Dendrogram/State.ts
  src/domain/Dendrogram/index.ts
  src/domain/index.ts
  src/generateSsrHtml.tsx
  src/server.tsx
  src/types/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(name): rename node, link
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Store.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json
