Repository Himenon/npm-run-script-chain: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(view): display sample
  .gitignore
  .travis.yml
  example/ducs.json
  package.json
  src/__tests__/index.test.ts
  src/index.html
  src/index.ts
  src/index.tsx
  src/types.ts
  tsconfig.build.json
  tsconfig.json
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(cli): add server side rendering
  .gitignore
  example/ducks.json
  package.json
  src/cli.ts
  src/htmlTemplate.tsx
  src/index.tsx
  src/parser.ts
  src/server.tsx
  tsconfig.cli.json
  tsconfig.json
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.0.2
  package.json
Due: sort-package-json

build(npm): update build script
  .gitignore
  package.json
  src/index.html
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

0.0.3
  package.json
Due: sort-package-json

test(parser): add parser test
  .dependency-cruiser.json
  .travis.yml
  jest.config.json
  scripts/deploy.sh
  src/__tests__/index.test.ts
  src/parser.ts
  tslint.json
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

0.0.4
  package.json
Due: sort-package-json

feat(parser): treeに合わせたparserの作成
  package.json
  src/__tests__/index.test.ts
  src/parser.ts
  src/types.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(parse): make simple chain method
  example/sample-package1.json
  package.json
  src/__tests__/index.test.ts
  src/parser.ts
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(run-p): run-pに対応
  src/__tests__/index.test.ts
  src/parser.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(cli): change command nrsc
  README.md
  package.json
  tslint.json
  yarn.lock
Due: sort-package-json

0.1.0
  package.json
Due: sort-package-json

docs(readme): update README
  README.md
  images/example.png
Due: none

ci(test): update tasks
  .travis.yml
Due: none

fix(issue): close #4
  src/__tests__/index.test.ts
  src/parser.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

fix(design): 縦横の幅を調整 + リンクを追加, close #5
  src/htmlTemplate.tsx
  src/index.tsx
  src/menu.tsx
  src/server.tsx
  src/types.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

docs(readme): update readme
  README.md
  images/example.png
  package.json
Due: sort-package-json

0.1.1
  package.json
Due: sort-package-json

chore(package): update dependencies version
  yarn.lock
Due: none

chore(updater): close #10
  package.json
  src/cli.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

0.1.2
  package.json
Due: sort-package-json

feat(link): nodeにリンクを追加
  src/components.tsx
  src/index.tsx
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

0.2.0
  package.json
Due: sort-package-json

fix(circle-script): prevention of circulation
  example/circle-package.json
  example/run-p-package.json
  package.json
  src/__tests__/circule.test.ts
  src/parser.ts
  src/server.tsx
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

0.2.1
  package.json
Due: sort-package-json

feat(label): add label code
  src/__tests__/circule.test.ts
  src/__tests__/index.test.ts
  src/components.tsx
  src/index.tsx
  src/parser.ts
  src/server.tsx
  src/types.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(d3): to d3js
  package.json
  src/Dendrogram.tsx
  src/index.tsx
  src/server.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

feat(create-react-app): use create-react-app
  .dependency-cruiser.json
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .travis.yml
  config/env.ts
  config/paths.ts
  jest.config.json
  package.json
  public/index.html
  public/manifest.json
  scripts/build.ts
  scripts/develop.ts
  scripts/notify.ts
  scripts/webpack/common.ts
  scripts/webpack/optimization.ts
  scripts/webpack/plugins.ts
  scripts/webpack/rules.ts
  scripts/webpack/webpack.config.ts
  scripts/webpack/webpackDevServer.config.ts
  src/App.tsx
  src/__tests__/calc.test.ts
  src/cli.ts
  src/client.tsx
  src/components/Anchor.tsx
  src/components/Dendrogram.tsx
  src/components/Tree.tsx
  src/index.css
  src/index.tsx
  src/server.tsx
  tsconfig.build.json
  tsconfig.json
  tsconfig.scripts.json
  tslint.json
  webpack.config.js
  webpack.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

refactor(develop): update development ux
  config/paths.ts
  package.json
  public/index.html
  scripts/webpack/rules.ts
  src/App.tsx
  src/client.tsx
  src/components/index.tsx
  src/htmlTemplate.tsx
  src/index.css
  src/index.tsx
  src/server.tsx
  tsconfig.build.json
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

refactor(server): add express
  package.json
  src/App.tsx
  src/cli.ts
  src/components/Tree.tsx
  src/generator.tsx
  src/server.tsx
  yarn.lock
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

Path conditions:
  prettier --config .prettierrc --write src/*.{ts,tsx}: any of: *.{ts,tsx}
  tslint -p ./tsconfig.json -c ./tslint.json: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
