Repository Himenon/npm-run-script-chain: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

v0.5.1
  package.json
Due: sort-package-json

feat(desgin): update ui
  src/components/Dendrogram/Container.tsx
  src/components/TreeNode/Container.tsx
  src/domain/Dendrogram/Factory.ts
  src/style.scss
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

v0.6.0
  package.json
Due: sort-package-json

refactor(domain): move dendrogram logic
  src/components/App/Container.tsx
  src/components/Dendrogram/State.ts
  src/components/Dendrogram/Store.ts
  src/components/Dendrogram/__tests__/calc.test.ts
  src/components/Dendrogram/__tests__/circule.test.ts
  src/components/Dendrogram/parser.ts
  src/components/Menu/Store.ts
  src/components/TreeLink/State.ts
  src/components/TreeLink/Store.tsx
  src/components/TreeLink/index.tsx
  src/components/TreeNode/State.ts
  src/components/TreeNode/Store.ts
  src/components/TreeNode/index.ts
  src/domain/Dendrogram/Action.ts
  src/domain/Dendrogram/Factory.ts
  src/domain/Dendrogram/Reducer.ts
  src/domain/Dendrogram/index.ts
  src/domain/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(domain): gather domain
  src/components/Dendrogram/State.ts
  src/components/Dendrogram/Store.ts
  src/components/TreeLink/State.ts
  src/components/TreeLink/Store.tsx
  src/components/TreeLink/index.ts
  src/components/TreeNode/State.ts
  src/components/TreeNode/Store.ts
  src/components/TreeNode/index.ts
  src/domain/App/Factory.ts
  src/domain/App/State.ts
  src/domain/App/__tests__/calc.test.ts
  src/domain/App/__tests__/circule.test.ts
  src/domain/App/parser.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

v0.6.1
  package.json
Due: sort-package-json

feat(onresize): add resize listener
  src/components/App/Container.tsx
  src/components/Dendrogram/Container.tsx
  src/components/Dendrogram/Dendrogram.tsx
  src/components/Dendrogram/Store.ts
  src/domain/Dendrogram/Action.ts
  src/domain/Dendrogram/Reducer.ts
  src/domain/Dendrogram/State.ts
  src/domain/Dendrogram/index.ts
  src/domain/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(onresize): position fixed with svg width and height
  src/components/TreeLink/Container.tsx
  src/components/TreeLink/Store.tsx
  src/components/TreeNode/Container.tsx
  src/components/TreeNode/Store.ts
  src/domain/App/Factory.ts
  src/domain/App/State.ts
  src/domain/Dendrogram/State.ts
  src/types/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

v0.7.0
  package.json
Due: sort-package-json

chore(docs): update docs
  README.md
  images/example.png
Due: none

v0.7.1
  package.json
Due: sort-package-json

feat(resize): add vertical resize & fork me ribbon
  public/index.html
  src/components/App/App.tsx
  src/components/ForkMe/ForkMe.tsx
  src/components/ForkMe/index.tsx
  src/style.scss
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

refactor(tab): change tab to space
  src/style.scss
Due: none

feat(description): add script description
  src/domain/App/Factory.ts
  src/domain/App/State.ts
  src/domain/App/parser.ts
  src/types/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(definition): add script definitino
  src/components/App/App.tsx
  src/components/App/Container.tsx
  src/components/App/Store.ts
  src/components/Definition/Container.tsx
  src/components/Definition/Definiton.tsx
  src/components/Definition/Store.ts
  src/components/Definition/index.tsx
  src/style.scss
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(app): add app info
  scripts/webpack/SsrPlugin.ts
  scripts/webpack/plugins.ts
  src/client.tsx
  src/components/App/App.tsx
  src/components/App/Container.tsx
  src/domain/App/Factory.ts
  src/domain/App/Reducer.ts
  src/domain/App/State.ts
  src/domain/index.ts
  src/generateSsrHtml.tsx
  src/server.tsx
  src/types/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

feat(app): add app info
  package.json
  scripts/webpack/SsrPlugin.ts
  src/client.tsx
  src/components/App/App.tsx
  src/server.tsx
  src/types/index.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json, sort-package-json

docs(image): update example image
  images/example.png
Due: none

test(update): update test
  src/domain/App/__tests__/circule.test.ts
Due: prettier --config .prettierrc --write src/*.{ts,tsx}, tslint -p ./tsconfig.json -c ./tslint.json

chore(change-log): updated CHANGELOG.md
  CHANGELOG.md
Due: none

0.8.0
  package.json
Due: sort-package-json

Add renovate.json
  renovate.json
Due: none

Pin dependencies
  package.json
  yarn.lock
Due: sort-package-json

Update dependency codecov to v3.6.5 [SECURITY]
  yarn.lock
Due: none

Update dependency html-webpack-plugin to v4.3.0
  package.json
  yarn.lock
Due: sort-package-json

Update dependency typescript to v3.9.6
  package.json
  yarn.lock
Due: sort-package-json

Update dependency meow to v7
  package.json
  yarn.lock
Due: sort-package-json

Path conditions:
  prettier --config .prettierrc --write src/*.{ts,tsx}: any of: *.{ts,tsx}
  tslint -p ./tsconfig.json -c ./tslint.json: any of: *.{ts,tsx}
  sort-package-json: any of: package.json
